<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="picture"><img src="{{model.imgURL}}" alt="{{model.title}}"></div>
    </div>
    <div class="col-md-3">
      <div class="content">
        <button>
            <span>
              <ng-container *ngIf="model.quantity > 0; then thenTemplate; else elseTemplate"></ng-container>
              <ng-template #thenTemplate>
                Dodaj do koszyka
              </ng-template>
              <ng-template #elseTemplate>
                Zarezerwuj
              </ng-template>
           </span>
          </button>
        <h3>{{model.title}}</h3>
        <h3>{{model.publisher}}</h3>
        <h3 *ngFor="let author of model.authors">{{author}}</h3>
        <app-tabs></app-tabs>
      </div>
    </div>
  </div>
</div>