<div class="container_booklist">
    <div class="row">
    	<div class="col-md-12">
			<div class="col-sm-6booklist col-md-4booklist" *ngFor="let book of booklist1">
				<div class="thumbnail">
					<h4 class="text-center"><span class="label book_adventure">Przygodowa</span></h4>
					<img src="{{book.image}}" class="img-responsive">
					<div class="caption">
						<div class="row">
							<div class="col-md-6 col-xs-6 price">
								<h4><label style="text-align: center;" >{{book.title}}</label></h4>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<a class="btn btn-primary btn-product"><span class="glyphicon glyphicon-info-sign"></span> Szczegóły</a> 
							</div>
						</div>

						<p> </p>
					</div>
				</div>
			</div>

						<p> </p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
					<div class="col-sm-6booklist col-md-4booklist" *ngFor="let book of booklist2">
						<div class="thumbnail">
							<h4 class="text-center"><span class="label book_fantasy">Fantasy</span></h4>
							<img src="{{book.image}}" width="325px" height="500px" class="img-responsive">
							<div class="caption">
								<div class="row">
									<div class="col-md-6 col-xs-6 price">
										<h4><label style="text-align: center;" >{{book.title}}</label></h4>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<a class="btn btn-primary btn-product"><span class="glyphicon glyphicon-info-sign"></span> Szczegóły</a> 
									</div>
								</div>
		
								<p> </p>
							</div>
						</div>
					</div>
		
								<p> </p>
							</div>
						</div>


								
			</div>
      
      
      
      
      
      
      
      
      
      <!--<div class="bookList"><fieldset>
      <legend>Przygodowe</legend>

      <div id="ksiazka"*ngFor="let book of booklist1">
        <img src="{{book.image}}" style="width:169px;height:250px">
        
        <p>
            <br>
          {{book.title}}
        </p>
        <a href="">Szczegóły</a>
      </div>
    </fieldset>

    <fieldset><legend>Fantasy</legend>
      <div id="ksiazka"*ngFor="let book of booklist2">
        <img src="{{book.image}}" style="width:169px;height:250px">
        <p>
          <br>
          {{book.title}}
        </p>
        <a href="">Szczegóły</a>
      </div>
    
    </fieldset>
  </div>-->

