div.polaroid {
	width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
	text-align: center;
	padding: 15px;
	margin-bottom: 30px;
	background: white;
  }
  
  div.pad {
	padding: 10px;
	text-align: center;
	font-size: 10px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }
  
  
  .btn-product {
	width: 100%;
	}
	
	.btn-primary{
		background-color: #fe3228;
		border-color: #fe3228;
		width: 88%;
		margin-bottom: 5px;
	}
	.btn-primary_cart {
		background-color: #2FCC91;
		border-color: #2FCC91;
		width: 88%;
		margin-bottom: 5px;
		color: white;
	}
	.btn-primary:hover {
		color: #fe3228;
		background-color: #fff;
		border-color: #fe3228;
	}
	.btn-primary_cart:hover {
		background-color: #fff;
		border-color: #2FCC91;
		width: 88%;
		color: #2FCC91;
	}