  <fieldset><legend>Przygodowe</legend>

      <div id="ksiazka"*ngFor="let book of booklist1">
        <img src="{{book.image}}" style="width:169px;height:250px">
        
        <p>
            <br>
          {{book.title}}
        </p>
        <a href="">Szczegóły</a>
      </div>
    </fieldset>

    <fieldset><legend>Fantasy</legend>
      <div id="ksiazka"*ngFor="let book of booklist2">
        <img src="{{book.image}}" style="width:169px;height:250px">
        <p>
          <br>
          {{book.title}}
        </p>
        <a href="">Szczegóły</a>
      </div>
    </fieldset>

