
<div class="container" *ngFor="let email of emailList"> <br>

    <strong>Do:</strong> {{email.sender}} <br> <br>
    <strong>Od:</strong> {{email.receiver}} <br> <br>


 <!--   <form class="form-horizontal" #myForm="ngForm" novalidate>
  <br>


    <label for="subject">Temat:</label>
    <input type="text" name="subject" class="form-control" placeholder="Wpisz temat wiadmości" required #subject="ngModel" [(ngModel)]="model.subject"><br><br>

    <label for="content"></label> <textarea class="form-control" rows="25" type="text" name="content" class="form-control" placeholder="Wprowadź treść wiadomości" required #content="ngModel" [(ngModel)]="model.content"></textarea>
    <br><br>


    <a href="javascript:history.back()" class="btn btn-primary">&larr;</a>
    <button type="submit" class="btn btn-success" onclick="">Wyślij</button>


</form> -->
</div>