<!--
<div class="container">
    <form class="form-horizontal" #myForm="ngForm"
    novalidate
  >

<div class="form-group">
    <h1>Podaj dane osobowe: <br><br></h1> 
  <label for="firstName">Imię: </label>
  <input type="text" name="firstName" class="form-control" placeholder="Wpisz imię"
    required
    #firstName="ngModel"
    [(ngModel)]="model.firstName"
  /><br>


  <label for="lastName">Nazwisko: </label>
  <input type="text" name="lastName" class="form-control" placeholder="Wpisz nazwisko" required #lastName="ngModel" [(ngModel)]="model.lastName"><br>


  <label for="pesel">Pesel:</label>
  <input type="text" name="pesel" class="form-control" placeholder="Wprowadź pesel" required #pesel="ngModel" [(ngModel)]="model.pesel"><br><br>

  <label for="pesel">Nick:</label>
  <input type="text" name="nick" class="form-control" placeholder="Wybierz nick" required #nick="ngModel" [(ngModel)]="model.nick"><br>

  <label for="pesel">E-mail:</label>
  <input type="text" name="email" class="form-control" placeholder="Wprowadź email" required #email="ngModel" [(ngModel)]="model.email"><br><br>

  <label for="pesel">Podaj hasło:</label>
  <input type="password" name="haslo" class="form-control" placeholder="Wpisz hasło" required #haslo="ngModel" [(ngModel)]="model.haslo"><br>

  <label for="pesel">Powtóz hasło:</label>
  <input type="password" name="pHaslo" class="form-control" placeholder="Powtórz hasło" required #pHaslo="ngModel" [(ngModel)]="model.pHaslo">


</div>

<div class="form-group">
<h1>Podaj adres zameldowania: <br><br></h1> 

<label for="streetName"> Nazwa ulicy: </label> <input type="text" name="streetName" class="form-control" placeholder="Podaj ulicę" required #streetName="ngModel" [(ngModel)]="model.streetName"> <br>


<label for="cityName"> Miasto: </label> <input type="text" name="cityName" class="form-control" placeholder="Podaj miasto" required #cityName="ngModel" [(ngModel)]="model.cityName"> <br>


<label for="houseNumber"> Numer domu: </label> <input type="text" name="houseNumber" class="form-control" placeholder="Wpisz numer domu" required #houseNumber="ngModel" [(ngModel)]="model.houseNumber"> <br>


<label for="localNumber"> Numer mieszkania / lokalu: </label> <input type="text" name="localNumber" class="form-control" placeholder="Wpisz numer mieszkania" required #localNumber="ngModel" [(ngModel)]="model.localNumber"> <br>


<label for="postcode"> Kod pocztowy: </label> <input type="text" name="postcode" class="form-control" placeholder="Podaj kod pocztowy" required #postcode="ngModel" [(ngModel)]="model.postcode">  <br>

</div> 




<br><br>

<label>Aby wprowadzić adres korespondencyjny: <input type="checkbox" name="checkboxIsVisible" class="form-control" required #checkboxIsVisible="ngModel" [(ngModel)]="model.checkboxIsVisible" disabled></label><br/> <br><br>



<div class="form-group" *ngIf="checkboxIsVisible">
  <!--
<h1>Podaj adres korespondencyjny:</h1> 


<label for="streetNameK"> Nazwa ulicy: </label> <input type="text" name="streetNameK" class="form-control" placeholder="Podaj ulicę" required #streetName="ngModel" [(ngModel)]="model.streetNameK"> <br>


<label for="cityNameK"> Miasto: </label> <input type="text" name="cityNameK" class="form-control" placeholder="Podaj miasto" required #cityName="ngModel" [(ngModel)]="model.cityNameK"> <br>


<label for="houseNumberK"> Numer domu: </label> <input type="text" name="houseNumberK" class="form-control" placeholder="Wpisz numer domu" required #houseNumber="ngModel" [(ngModel)]="model.houseNumberK"> <br>


<label for="localNumberK"> Numer mieszkania / lokalu: </label> <input type="text" name="localNumberK" class="form-control" placeholder="Wpisz numer mieszkania" required #localNumber="ngModel" [(ngModel)]="model.localNumberK"> <br>


<label for="postcodeK"> Kod pocztowy: </label> <input type="text" name="postcodeK" class="form-control" placeholder="Podaj kod pocztowy" required #postcodeK="ngModel" [(ngModel)]="model.postcodeK">
          <br>


</div> 

<button type="submit" class="btn btn-success">Przejdź dalej</button>

</form>

-->
