<p>
  template works!
</p>

<div class="container-fluid">
    <div class="row">
            <div class="col-xl-9">
              Level 1: .col-sm-9 //głowny

              <div class="row">
                    <div class="col col-md-2">
                      3 of 3  /lewa

                    </div>
                    <div class="col">
                            1 of 3  //prawa

                            <div class="row">
                                //prawa dol
                            </div>
                    </div>
                  </div>
                </div>

</div>