<!-- https://getbootstrap.com/docs/3.3/components/ -->
<!-- https://bootsnipp.com/snippets/Ba4nD -->
<div class="container">
  <div class="row" *ngFor="let item of model.listOfCategories">
    <div class="msk-catDiv">
      <a class="msk-catBar msk-catDefault" href="#">
        <div class="msk-catSplit" style="background: #46c49c" ><i class="glyphicon glyphicon-screenshot"></i></div>
        <div class="msk-catText" style="color: #46c49c" >{{item.name}}</div>
      </a>
    </div>
    <div class="msk-catSub"*ngFor="let item2 of item.subCategories">
      <a class="msk-catBar msk-catInfo" href="#">
      <div class="msk-catText">{{item2}}</div>
    </a>
      </div>
  </div>

 