.msk-catDiv {
    margin-bottom: 5px;
}
.msk-catBar {
    display: inline-block;
    font-size: 14px;
	text-align: right;
    height: 40px;
    padding-right: 10px;
}
a.msk-catBar:hover {
	text-decoration: none;
}
.msk-catTextCat {
    background-color: #b02e1e;
    border-bottom: 2px solid white;
    margin-left: 0px;
    padding: 10px 15px 8px;
    width: 330px;
    font-weight: 900;
    color: white;
}
.msk-catTextSub {
    background-color: #b02e1e;
    margin-left: 0px;
    padding: 10px 15px 8px;
    width: 330px;
    font-weight: 500;
    color: white;
}
.msk-catTextCat, .msk-catTextSub > .msk-catSubBar {
    background-color: #942719;
    color: white;
}
.msk-catBar {
    margin-bottom: 2px;
}
.msk-catSubBar {
    margin-bottom: 2px;
    margin-right: 10px;
    float: right;
}
.msk-catSplit {
    margin-left: 0%;
	color: #fff !important;
	float: left;
	height: 40px;
	text-align: center;
	width: 20px;
}

.msk-catBar.msk-catDefault > .msk-catSplit {
    background: red none repeat scroll 0 0;
}
.msk-catBar.msk-catDefault > .msk-catText:hover {
    border-bottom: 2px solid #b02e1e;
    background-color: #942719;
    width: 326px;
}
.msk-catInfo > .msk-catSplit {
    background: white none repeat scroll 0 0;
}
.msk-catInfo > .msk-catTextCat:hover,.msk-catTextSub:hover {
    border-bottom: 2px solid white;
}