.animate-if {
    background:white;
    border:1px solid black;
    padding:10px;
  }
  
  .animate-if.ng-enter, .animate-if.ng-leave {
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  }
  
  .animate-if.ng-enter,
  .animate-if.ng-leave.ng-leave-active {
    opacity:0;
  }
  
  .animate-if.ng-leave,
  .animate-if.ng-enter.ng-enter-active {
    opacity:1;
  }
  .form-inline {
    line-height: 10px;
  }
  .form-check-input {
    margin-right: 10px;
  }
  .form-check-label, .form-check {
    padding-top: 5px;
  }
  .col-md-10 {
    margin-left: 0%;
    margin-top: 0px;
  }
  .col-md-3 {
    margin: 0px;
    margin-top: 200px;
  }

  .col-md-8 {
    margin-left: -100px;
    margin-top: 150px;
  }
  .btn-primary{
    background-color: #2FCC91;
    border-color: #2FCC91;
  }
  .btn-primary:hover{
    background-color: #fff;
    border-color: #2FCC91;
    color: #2FCC91;
  }
  .search-img {
    margin-left: 20%;
    margin-top: 10%;
  }
  .container-fluid {
    margin-top: -100px;
  }
  form {
    margin-left: 80%;
    margin-top: -50%;
    width: 600px;
  }
  .container {
    margin-top: 0px;
  }