<div class="container">
  <div class="row">
      <div class="col-md-10">

              <img class="search-img" src="assets/img/search.png" />

          <form>
              <legend>Szukaj po: </legend>
              <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="search.showAuthor" [ngModelOptions]="{standalone: true}"/>
                    Autorze
                  </label>
               </div>
                <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" [(ngModel)]="search.showTitle" [ngModelOptions]="{standalone: true}">
                      Tytule
                    </label>
                  </div>
                  <div class="form-check">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" [(ngModel)]="search.showPublisher" [ngModelOptions]="{standalone: true}">
                        Wydawnictwie
                      </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" [(ngModel)]="search.showTags" [ngModelOptions]="{standalone: true}">
                          Tagach
                        </label>
                      </div>
                    <hr />
              <div class="form-group" *ngIf="search.showTitle">
                <label for="exampleInputEmail1">Tytuł</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Wpisz tytuł">
              </div>
              
              <div class="form-group" *ngIf="search.showAuthor">
                <label for="exampleInputEmail1">Autor</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Wpisz autora">
              </div>

              <div class="form-group" *ngIf="search.showPublisher">
                  <label for="exampleInputEmail1">Wydawnictwo</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Wpisz nazwę wydawnictwa">
                </div>

                <div class="form-group" *ngIf="search.showTags">
                    <label for="exampleInputEmail1">Tagi</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Wpisz tagi">
                  </div>
              <fieldset class="form-group">
                <legend>Wypożyczone: </legend>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                    Ostatni tydzień
                  </label>
                </div>
                <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                    Ostatnie dwa tygodnie
                  </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3" checked>
                      Ostatnie trzy tygodnie
                    </label>
                  </div>
                  <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios4" value="option4" checked>
                        Ostatni miesiąc
                      </label>
                    </div>
                <!--<div class="form-check disabled">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
                    Option three is disabled
                  </label>
                </div>-->
              </fieldset>
              <fieldset class="form-group">
                  <legend>Dostępność: </legend>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="availability" id="availability1" value="availability1" checked>
                      Dostępne
                    </label>
                  </div>
                  <div class="form-check">
                  <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="availability" id="availability2" value="availability2">
                      Niedostępne
                    </label>
                  </div>
                  <!--<div class="form-check disabled">
                  <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
                      Option three is disabled
                    </label>
                  </div>-->
                  <button type="submit" class="btn btn-primary">Niuchaj</button>
                </fieldset>
              <!--<div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input">
                  Dostępne
                </label>
              </div>-->
        
            </form>
      </div>
  </div>
</div>

