<app-header></app-header>
<right-menu></right-menu>
<div class="container">
  <form>
    <div class="form-group">
      <label for="username">E-mail</label>
      <input type="text" class="form-control" id="username" name="username" placeholder="Wpisz e-mail" required>
    </div>
    <div class="form-group">
      <label for="password">Hasło</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Wpisz hasło" required>
    </div>
    <div class="form-group">
      <label for="Rpassword">Powtórz hasło</label>
      <input type="password" class="form-control" id="Rpassword" name="Rpassword" placeholder="Powtórz hasło" required>
    </div>
    <button type="submit" class="btn btn-primary">Zarejestruj</button>
  </form>
</div>