<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="picture"><img src="{{model.imgURL}}" alt="{{model.title}}"></div>
      <button class="btn btn-primary" (click)="addToCart()">
          <span>
            <ng-container *ngIf="model.quantity > 0; then thenTemplate; else elseTemplate"></ng-container>
            <ng-template #thenTemplate>
              Dodaj do koszyka
            </ng-template>
            <ng-template #elseTemplate>
              Zarezerwuj
            </ng-template>
         </span>
        </button>
    </div>
    <div class="col-md-10">
      <div class="content">
        <h3>{{model.title}}</h3><h5>Tytuł</h5>
        <h3>{{model.publisher}}</h3><h5>Wydawnictwo</h5>
        <h3 *ngFor="let author of model.authors">{{author}}<h5>Autor</h5></h3>
 <!--       <app-tabs [bookid]="bookid"></app-tabs>

        <br /><hr /><h3>{{model.title}}</h3>
        <h4>Tytuł</h4><hr /><h3>{{model.publisher}}</h3>
        <h4>Wydawnictwo</h4><hr /><h3 *ngFor="let author of model.authors">{{author}}<h4>Autor</h4></h3><hr />
        <button type="submit" class="btn btn-primary">
          <span>
            <ng-container *ngIf="model.quantity > 0; then thenTemplate; else elseTemplate"></ng-container>
            <ng-template #thenTemplate>
              Dodaj do koszyka
            </ng-template>
            <ng-template #elseTemplate>
              Zarezerwuj
            </ng-template>
         </span>
        </button>
-->
      </div>
    </div>
  </div>
</div>